.odd {
	background-color: lightpink;
	font-family: "Bitcount Ink", Verdana, "DejaVu Sans", sans-serif;
}

#two {
	color: blue;
	font-size: 36px;
}

.cooler {
	font-size: 24px;
}

#green {
	background-color: lightgreen;
	font-weight: 700;
}

.bitcount-ink-<uniquifier> {
  font-family: "Bitcount Ink", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0,
    "SZP1" 0,
    "SZP2" 0,
    "XPN1" 0,
    "XPN2" 0,
    "YPN1" 0,
    "YPN2" 0;
}
