body {
  font-family: Playwrite Deutschland Grundschrift;
  background-color: #189bcc;
}

header {
  background-color: #52afd1;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #2782b2;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: ruby;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.container {
  margin: 35px auto;
  padding: 10px;
  background-color: #fff;
}
