/* this is some magical font-importing.  
you'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

* {
    /*border: 1px red solid;*/
}

body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
    height: 100vh;
    overflow: hidden;
}

.header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.profile-image {
    background: rebeccapurple;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.logo {
    color: rebeccapurple;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

button {
    border: none;
    border-radius: 8px;
    background: rebeccapurple;
    color: white;
    padding: 8px 24px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: rebeccapurple;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.left,
.right {
    display: flex;
    gap: 16px;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 87px);
}

.gallery {
    display: flex;
    /*flex-direction: column;*/
    /*flex: 2 1 400px;*/
    gap: 20px;
    overflow-y: scroll;
    flex-wrap: wrap;
    
    flex: 3 1 400px;
    /*overflow-y: scroll;*/
    
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /*
    margin: 10px;
    flex: 1 1 100px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    */
}

.column {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /*flex: 1;*/
}

.image {
    width: 250px;
    /*max-width: 100%;*/
    height: auto;
}

.label {
}

#description {
    display: none;
    flex-direction: column;
    align-items: center;
    flex: 1 1 400px;
    padding: 20px;
    border: 2px solid gray;
    margin: 10px;
    border-radius: 10px;
}

#profile-pic {
    width: 80%;
}

#profile-name {
    /*
    font-size: 28px;
    font-weight: bold;
    font-family: Merriweather;
    */
}

#more-info {
    background-color: lightgray;
    height: 200px;
    width: 100%;
    border-radius: 15px;
}
