html {
  height: 100%;
  width: 100%;
}

#header {
  background-color: #ead66e;
  font-weight: 400;
  font-size: 64px;

}



.back {
  border: black;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

header {
  background-color: #ead66e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #ffd500;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#font {
  font-size: 15px;
}
