.item {
	height: 100px;
	width: 100px;
	background-color: green;
	border: blue 3px solid;
	text-align: center;
	margin: 10px;
	color: white;
	font-size: 24px;
}

.flex-container {
	border: red 3px solid;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 900px;
	width: 900px;
}