body {
  font-family: Arial, sans-serif;
  background-color:#001d3d;
}

header {
  background-color: #e6ccb2;
  color: #000;
  padding: 36px;
  text-align: center;
  font-family: "Pacifico", cursive;
  border-radius: 10px;
}

nav {
  background-color: #ba9c7d;
  padding: 10px;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff3e5;
  border-radius: 10px;
}
.menuitem{
  display:inline-block;
  border: 2px solid #001d3d;
  border-radius: 10px;
  padding: 5px;
  width:fit-content;
  margin: 5px;
  
}