body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: lightgray;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: skyblue;
  margin: 0px 0px 8px 0px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: skyblue;
  margin-bottom: 8px;
  padding: 16px 8px 16px 8px;
}

.button-container {
  background: skyblue;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 24px;
}