body {
  background-color: #0e1116;
  color: #f7fff7;
}

header {
  background-color: #47375d;
  text-shadow: #47375d 0 0 20px;
  border-radius: 1rem;
  background-image: radial-gradient(#1e122e, #161222);
  color: #fff;
  padding: 20px;
  text-align: center;
  font-family: raleway;
}

nav {
  background-color: #1e122e;
  padding: 3px;
  border-radius: 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 2px;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #1e122e;
  border-radius: 1rem;
}

#catalogue {
  text-align: center;
}
